body {
  background-image: url("../assets/images/pencil-background.svg");
  background-position: center;
  background-color: white;
}

.main__container {
  height: 97vh;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

/*.drawings-container {
  margin: 0 30px;
  background-color: #f1f1f1;
  width: 75%;
  text-align: center;
}*/

/*.recent-drawings {
  display: inline-block;
  width: 40%;
  height: auto;
  margin: 20px;
}*/

.display-none {
  display: none;
}

canvas {
  width: 75%;
  height: 80%;
  background-color: #f1f1f1;
  cursor: pointer;
  border-radius: 3px;
}

.button-container {
  margin-top: 15px;
  text-align: center;
}

.download {
  text-decoration: none;
}

.download-btn,
.clear-btn,
.save-btn,
.view-recent-btn,
.make-drawing-btn {
  -webkit-appearance: none;
  border-radius: 0;
  border: 0.13rem solid black;
  border-radius: 3px;
  background-color: white;
  font-size: 1rem;
  padding: 0.5rem;
  width: 115px;
  margin: 0.2rem;
}

.download-btn:focus,
.clear-btn:focus,
.save-btn:focus,
.view-recent-btn:focus,
.make-drawing-btn:focus {
  outline: none;
}

.download-btn:active,
.clear-btn:active,
.save-btn:active,
.view-recent-btn:active,
.make-drawing-btn:active {
  transform: translate(0, 1px);
}

.make-drawing-btn {
  width: 150px;
}

.loader {
  margin-bottom: 20px;
  border: 14px solid #f3f3f3;
  border-radius: 50%;
  border-top: 14px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen and (max-width: 950px) {
  .recent-drawings {
    display: inline-block;
    width: 80%;
    height: auto;
    margin: 20px;
  }
}

@media screen and (max-width: 580px) {
  body {
    background-size: 25rem;
  }

  .main__container {
    padding-top: 20px;
    height: 85vh;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
  }

  .recent-drawings {
    width: 100%;
  }

  canvas {
    width: 90%;
    height: 75vh;
    background-color: #f1f1f1;
  }
}
