body {
  background-image: url("../assets/images/pencil-background.svg");
  background-position: center;
  background-color: white;
}

.main__container {
  height: 97vh;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.drawings-container {
  margin-bottom: 20px;
  background-color: #f1f1f1;
  padding: 40px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

canvas {
  width: 75%;
  height: 80%;
  background-color: #f1f1f1;
  cursor: pointer;
  border-radius: 3px;
}

.button-container {
  margin-top: 15px;
  text-align: center;
}

.download {
  text-decoration: none;
}

.download-btn,
.clear-btn,
.save-btn,
.view-recent-btn,
.make-drawing-btn {
  -webkit-appearance: none;
  border-radius: 0;
  border: 0.13rem solid black;
  border-radius: 3px;
  background-color: white;
  font-size: 1rem;
  padding: 0.5rem;
  width: 115px;
  margin: 0.2rem;
}

.download-btn:focus,
.clear-btn:focus,
.save-btn:focus,
.view-recent-btn:focus,
.make-drawing-btn:focus {
  outline: none;
}

.download-btn:active,
.clear-btn:active,
.save-btn:active,
.view-recent-btn:active,
.make-drawing-btn:active {
  transform: translate(0, 1px);
}

.make-drawing-btn {
  width: 150px;
}

.recent-drawings {
  width: 250px;
}

@media screen and (max-width: 580px) {
  body {
    background-size: 25rem;
  }

  .main__container {
    padding-top: 20px;
    height: 85vh;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
  }

  canvas {
    width: 90%;
    height: 75vh;
    background-color: #f1f1f1;
  }
}
