body {
  background-image: url("../assets/images/pencil-background.svg");
  background-position: center;
}

.main__container {
  height: 97vh;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

canvas {
  width: 75%;
  height: 75%;
  background-color: #f1f1f1;
  cursor: pointer;
  border-radius: 3px;
}

.button-container {
  margin-top: 15px;
  text-align: center;
}

.save {
  text-decoration: none;
}

.download-btn,
.clear-btn {
  border: 0.13rem solid black;
  border-radius: 3px;
  background-color: white;
  font-size: 1rem;
  padding: 0.5rem;
  width: 110px;
}

.download-btn:focus,
.clear-btn:focus {
  outline: none;
}

.download-btn:active,
.clear-btn:active {
  transform: translate(0, 1px);
}

.download-btn {
  margin-right: 0.4rem;
}

@media screen and (max-width: 580px) {
  body {
    background-size: 25rem;
  }

  canvas {
    width: 90%;
    height: 85%;
    background-color: #f1f1f1;
  }
}
