<canvas class="can"></canvas>

<div class="button-container">
  <input class="clear-btn" type="button" value="Clear">
  <a class="download" href="#" download="drawing.png" target="_blank">
    <input class="download-btn" type="button" value="Download">
  </a>
  <input class="save-btn" type="button" value="Save">
  <a href="/saved">
    <input class="view-recent-btn" type="button" value="View Saved">
  </a>
</div>
