<canvas class="can"></canvas>

<div class="button-container">
  <input class="clear-btn" type="button" value="Clear">
  <a class="download" href="#" download="drawing.png" target="_blank">
    <input class="download-btn" type="button" value="Download">
  </a>
  <span class="save-button-container">
    <div class="button-validation">
      <svg version="1.1" id="checkmark" class="checkmark" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="-284 409.6 25.1 23.3" style="enable-background:new -284 409.6 25.1 23.3;" xml:space="preserve">
        <style type="text/css">
          .st0{fill:none;stroke:white;stroke-width:3;stroke-miterlimit:10;}
        </style>
        <path class="st0" d="M-283.1,424.9l8,5.9l15-20.3"/>
      </svg>
    </div>
    <input class="save-btn" type="button" value="Save">
  </span>
    <a href="/saved">
      <input class="view-recent-btn" type="button" value="View Saved">
    </a>
</div>
