<div class="drawings-container display-none"></div>

<div class="loader"></div>

<button class="slideshow-left-button">&#10094;</button>
<button class="slideshow-right-button">&#10095;</button>

<div class="button-container">
  <a href="/">
    <input class="make-drawing-btn" type="button" value="Make a Drawing">
  </a>
</div>
