<div class="drawings-container"></div>

<div class="loader"></div>

<div class="saved-container">
  <div class="slideshow">
    <button class="slideshow-left-button">&#10094;</button>
    <button class="slideshow-right-button">&#10095;</button>
  </div>

  <div class="button-container">
    <a href="/">
      <input class="make-drawing-btn" type="button" value="Make a Drawing">
    </a>
  </div>
<div>
