<div class="drawings-container display-none"></div>

<div class="loader"></div>

<button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
<button class="w3-button w3-display-right" onclick="plusDivs(+1)">&#10095;</button>

<div class="button-container">
  <a href="/">
    <input class="make-drawing-btn" type="button" value="Make a Drawing">
  </a>
</div>
